.note {
  position: absolute;
  top: 30px;
  left: 30px;
  box-sizing: border-box;
  background-color: #ccc;
  width: 500px;
  height: 300px;
  
  background: #0d0d0d;
  border: solid #262626 1px;
  color: white;
  outline: none;
}

.a, .b, .c, .d {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
}

.a {
  cursor: nwse-resize;
  background-color: red;
  top: 0;
  left: 0;
}

.b {
  cursor: nesw-resize;
  background-color: red;
  top: 0;
  left: 100%;
}

.c {
  cursor: nesw-resize;
  background-color: red;
  top: 100%;
  left: 0;
}

.d {
  cursor: nwse-resize;
  background-color: red;
  top: 100%;
  left: 100%;
}